.navbar {
    padding: 0rem 0rem;
}

.navbar input {
    height: 50px;
    width: 18%;
    border: none;
    background-color: #4b4d61;
    margin-left: 2%;
    font-size: 0.8rem;
}

.navbar-brand-text-search {
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
    margin-left: 1%;
}

.navbar-brand-profilename {
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
    margin-left: 0.5%;
}

.navbar-brand-nickname {
    color: white;
    font-size: 0.5rem;
    font-weight: 600;
    margin-left: 0.5%;
}

.navbar-brand-text {
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
}

.navbar-expand-sm .navbar-nav {
    margin-right: 1%;
    margin-left: 2%;
}

.navbar-img {
    width: 40px;
    border-radius: 50px;
    margin-right: 5px;
    margin-left: -5%;
}

.bg-dark {
    background-color: #424457!important;
}

.navbar-brand {
    background-color: #f96747;
    padding: .5rem;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
    margin-left: -140px;
    margin-top: 40%;
}

.navbar-expand-sm .navbar-nav .dropdown-menu a {
    text-decoration: none;
}

.nav-item-i {
    font-size: 1.5rem;
    color: white;
}

.dropdown-arow {
    margin-top: 7%;
    color: white;
    font-size: 0.8rem;
}

.dropdown-toggle::after {
    display:none;
}

.loop {
    color: #6a6d85;
    margin-left: -25px;
    margin-right: 20px;
}

@media only screen and (max-width: 829px) { 
    .navbar-brand-text-search {
        display: none;
    }

    .form-control {
        display: none;
    }

    .navbar-brand-text {
        display: none;
    }

    .nav-item {
        margin-right: 5%;
        margin-left: 5%;
    }

    .navbar-nav {
        margin-right:auto;
        display: -webkit-inline-box;
    }

    .navbar-expand-sm .navbar-nav {
        margin-left: 2%;
        margin-right: auto;
        width: 39%;
    }

    .navbar-nav-ul {
        margin-right: auto;
    }

    .navbar-img {
        display: none;
    }

    .navbar-brand-profilename {
        display: none;
    }

    .mobile-none {
        display:none;
    }

    .dropdown-arow {
        margin-top: 0%;
        color: white;
        font-size: 0.8rem;
        padding: 15px 20px;
        margin-left: auto;
        background-color: #7b5dbc;
        margin-right: 18px;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute;
        margin-left: -110px;
        margin-top: 0%;
    }
}

@media only screen and (max-width: 1200px) {
    .loop {
        display: none;
    }
}