.bacgraund-image {
    background-image: url("src/assets/users-bg.png");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -150;
    opacity: 0.6;
}

.color-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f96747;
    opacity: 0.9;
    z-index: -100;
 }

 a {
     text-decoration: none;
 }

 h1 {
    font-size: 2rem;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    text-align: left;
}
.container {
    margin-top: 2%;
}

 .logo {
    line-height: 10px;
    display: -webkit-inline-box;
    margin-left: 2%;
 }

 .logo p {
    color: white;
    margin-left: 5%;
    margin-top: 5%;
}

 .log__text-small {
    font-size: 8px;
 }

 .dropdown-toggle::after {
    display:none;
}

.dropdown {
    float: right;
}

.dropdown-menu {
    color: white;
    background-color: #f96747;
    border: 1px solid white;
}

.dropdown-item {
    color: white;
    background-color: #f96747;
   
}

.dropdown-item:hover {
    color: white;
    background-color: #f96747;
    opacity: 0.5;
   
}

.dropbutton {
    font-size: 22px;
    color: white;
}

textarea:focus, input:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    border: 1px solid #e6ebf4;
    color: #888ca5 !important;
}

.form-control:focus {
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #e6ebf4;
    color: #888ca5 !important;
  }

button:active {
    outline: none;
    border: none;
}

button:focus {outline:0;}

.middle-left {
    padding-top: 20%;
}

.middle-left p {
    color: white;
    font-family: sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
    margin-top: 7%;
}

.middle-left button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 2% 6%;
    font-size: 0.8rem;
    border-radius: 4px;
    margin-top: 5%;
}

.middle-right {
    background-color: white;
    color: #888ca5;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
    margin-top: 4%;
    padding: 0;
    width: 95%;
    border-radius: 5px;
}

.middle-right a {
    color: #888ca5;
    text-decoration: none;
}


.label-left {
    display: inline-block;
    margin-bottom: 1.2rem;
    margin-top: 1.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    float: left;
    margin-left: 5%;
}

.label-right {
    display: inline-block;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    float: right;
    margin-right: 5%;
}

.middle-right h1 {
    font-size: 0.9rem;
    color: black;
    font-family: sans-serif;
    font-weight: 600;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 1%;
    padding-left: 5%;
}

.vertical-button {
    height: 100%;
    width: 12%;
    background-color: #fafbfd;
    float: left;
    border-right: 1px solid #e6ebf4;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.vertical-top-button {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    width: 30%;
    height: 150px;
    padding-top: 140px;
    padding-bottom: 160px;
    color: #bfc3d6;
}

.vertical-top-button a:hover {
    color: #f96747;
}

.vertical-bottom-button {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    width: 30%;
    height: 150px;
    padding-top: 120px;
    padding-bottom: 140px;
    color: #bfc3d6;
}

.vertical-bottom-button a:hover {
    color: #f96747;
}

.horizontal-button {
    height: 10%;
    width: 100%;
    display: flex;
    background-color: #fafbfd;
    float: left;
    border-right: 1px solid #e6ebf4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #bfc3d6;
}

.horizontal-left-button {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    width: 50%;
    color: #bfc3d6;
    padding: 5% 22%;
    border-right: 1px solid #bfc3d6;
}

.horizontal-left-button a:hover {
    color: #f96747;
}

.horizontal-right-button {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    width: 50%;
    color: #bfc3d6;
    padding: 5% 20%;
}

.horizontal-right-button a:hover {
    color: #f96747;
}

.login-form {
    background-color: white;
    height: 100%;
    width: 88%;
    text-align: center;
    float: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-register {
    background-color: #7c5dbd;
    color: white;
    width: 90%;
    padding: 3%;
    margin-bottom: 20%;
    font-size: 1rem;
}

.form-group-registar {
    display: -webkit-inline-flex;
}

.form-control-register {
    display: block;
    width: 95%;
    height: auto;
    color: #888ca5 !important;
    font-size: 1rem;
    background-color: white;
    border: 1px solid #e6ebf4;
    border-radius: .25rem;
}

.form-control-margin__left {
    margin-left: 11%;
    width: 90%;
}

.form-control-margin__right {
    margin-right: 11%;
    width: 90%;
}

.form-control {
    width: 90%;
    height: auto;
    color: #888ca5 !important;
    font-size: 1rem;
    background-color: white;
    border: 1px solid #e6ebf4;
    border-radius: .25rem;
    margin-left: auto;
    margin-right: auto;
}

.form-control-margintop {
    margin-top: 5%;
    margin-bottom: 5%;
}

.form-control-marginbottom {
    margin-bottom: 5%;
}

.custom-select {
    display: inline-block;
    width: 90%;
    height: auto;
    color: #888ca5 !important;
    font-size: 1rem;
    padding: 2% 5%;
    background-color: white;
    border: 1px solid #e6ebf4;
    border-radius: .25rem;
    margin-left: auto;
    margin-right: auto;
}

.middle-right p {
    overflow: hidden;
    text-align: center;
    font-size: 0.8rem;
  }
  
  .middle-right p:before,
  .middle-right p:after {
    background-color: #e6ebf4;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 40%;
  }
  
  .middle-right p:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .middle-right p:after {
    left: 0.5em;
    margin-right: -50%;
  }

  input[type="checkbox"] {
    position: absolute;
  }
  
  input[type="checkbox"] + span {
    display: flex;
    position: relative;
    font-size: 0.8rem;
  }

  input[type="checkbox"] + span::before {
    content: '';
    position: relative;
    display: inline-block;
    border: 1px solid #e6ebf4;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    background: white;
  }

  input[type="checkbox"]:checked + span::before {
    background: white;
  }

  input[type="checkbox"]:checked + span::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    border-left: 2px solid #f96747;
    border-bottom: 2px solid #f96747;
    height: 6px;
    width: 10px;
    transform: rotate(-45deg);
  }

  input[type="checkbox"] {
    position: absolute;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }

  @media only screen and (max-width: 768px) { 
    
    h1 {
        font-size: 1.6rem;
    }
    .vertical-button{
        display: none;
    }

    .login-form {
        width: 100%;
        height: 0%;
    }

    .middle-left {
        padding-top: 5%;
    }

    .middle-left button {
        padding: 2% 4%;
        margin-top: 0;
        margin-bottom: 5%;
        font-size: 0.6rem;
    }

    .form-control-register {
        display: block;
        width: 90%;
        height: auto;
        color: #888ca5 !important;
        background-color: white;
        border: 1px solid #e6ebf4;
        border-radius: .25rem;
        margin-left: auto;
        margin-right: auto;
    }

    .form-group-registar {
        display: block;
    }
}

@media only screen and (min-width: 768px) { 
    .horizontal-button {
        display: none;
    }
}

